USER-SUPPLIED VALUES:
## nginx configuration
## Ref: https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md
##
controller:
  extraArgs:
    enable-ssl-passthrough: true
  service:
    loadBalancerIP: {{ private_lan_master }}
    externalTrafficPolicy: Cluster
    type: LoadBalancer
## Default 404 backend
##
defaultBackend:
  enabled: true
## Enable RBAC as per https://github.com/kubernetes/ingress/tree/master/examples/rbac/nginx and https://github.com/kubernetes/ingress/issues/266
rbac:
  create: true