apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ghost-ingress
  namespace: ghost
  annotations:
    # Clase de controlador Ingress: nginx
    kubernetes.io/ingress.class: "nginx"
    # Manejador de certificados letsencrypt-prod. Gracias a cert-manager y al issuer previamente desplegado (tls_issuer.yaml)
    cert-manager.io/issuer: "letsencrypt-prod"

    # Aumentamos límites de timeout
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"

    # Permitimos que el servicio responda en el puerto 80 sin redirigir al 443
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"

    # Las llamadas SSL no pasan directamente al backend
    ingress.kubernetes.io/ssl-passthrough: "false"
  
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/secure-backends: "true"

    # Seteamos cookies de afinidad de sesión
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/session-cookie-expires: "172800"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "172800"

spec:
  tls:
  - hosts:
    - {{ ghost_url }}
    secretName: ghost-ingress-tls
  rules:
  - host: {{ ghost_url }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ghost-svc
            port:
              number: 2368
