---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ghost
  namespace: ghost
  labels:
    app: ghost
spec:
  selector:
    matchLabels:
      app: ghost
  replicas: 3
  template:
    metadata:
      labels:
        app: ghost
    spec:
      containers:
      - name: ghost
        image: ghost:4.7.0-alpine
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: ghost-config
        - secretRef:
            name: ghost-password
        livenessProbe:
          httpGet:
            path: /
            port: 2368
          initialDelaySeconds: 10
          failureThreshold: 5
          successThreshold: 1
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 2368
          initialDelaySeconds: 10
          failureThreshold: 5
          successThreshold: 1
          periodSeconds: 10
        startupProbe:
          httpGet:
            path: /
            port: 2368
          failureThreshold: 10
          successThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
        ports:
        - containerPort: 2368
          name: ghost-tcp
          protocol: TCP
        volumeMounts:
        - mountPath: /var/lib/ghost/content
          name: ghost-nfs-volume
      volumes:
      - name: ghost-nfs-volume
        nfs:
          server: '{{ nfs_host }}'
          path: "/srv/nfs/mounts/ghost/data"
