apiVersion: v1
kind: ConfigMap
metadata:
  name: ghost-config
  namespace: ghost
data:
  database__client: mysql
  database__connection__host: mysql-svc.mysql
  database__connection__user: {{ mysql_ghost_username }}
  database__connection__database: {{ mysql_ghost_database }}
  url: http://{{ ghost_url }}
  TZ: Europe/Madrid
